<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesgaori.spring.test.ajax.repository.BookingRepository">

	<select id="getBooking" resultType="com.yesgaori.spring.test.ajax.domain.Booking">
		
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
			
		FROM
			`booking`

	</select>
	
	<delete id="deleteBooking" parameterType="int">
	
		DELETE FROM
			`booking`
		WHERE
			`id` = #{id}
	
	</delete>
	
	<insert id="insertBooking" parameterType="map">
		
		INSERT INTO
			`booking`
			(
			`name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`			
			)	
		VALUE
			(
			#{name}
			, #{headcount}
			, #{day}
			, #{date}
			, #{phoneNumber}
			, #{state}
			
			
			)
	</insert>

	<select id="selectBooking" parameterType="map"
	resultType="com.yesgaori.spring.test.ajax.domain.Booking">
	
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
		FROM
			`booking`
		WHERE
			`name` = #{name}
			and `phoneNumber` = #{phoneNumber}
	
	
	
	
	
	</select>








</mapper>