<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yesgaori.spring.test.mybatis.repository.Real_estateRepository">
 
 	<select id="selectRepository" parameterType="int"
 	resultType="com.yesgaori.spring.test.mybatis.domain.Real_estate">
 		
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id`= #{id}
 		
 	</select>
 	
 	<select id="selectRepository2" parameterType="int"
 	resultType="com.yesgaori.spring.test.mybatis.domain.Real_estate">
 		
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`type` = '월세'
 			AND `rentPrice` <![CDATA[<]]> #{rentPrice}
 			
 	</select>
 	
 	<select id="selectRepository3" parameterType="map"
 	resultType="com.yesgaori.spring.test.mybatis.domain.Real_estate">
 		
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`type` = '매매'
 			AND `price` <![CDATA[<=]]> #{price}
 			AND `area` <![CDATA[>=]]> #{area}
 		ORDER BY
 			`createdAt`
 			
 	</select>
 	<insert id="insertRealestate" parameterType="com.yesgaori.spring.test.mybatis.domain.Real_estate">
 	
 		INSERT INTO
 		`real_estate`
 		(
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 		)
 		VALUE
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 		
 		)
 		
 	</insert>
 	
 	
 	<insert id = "insertRealestateObject" parameterType="map">
 	
 		INSERT INTO
 		`real_estate`
 		(	
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 		)
 		VALUE
 		(	
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, #{rentPrice}
 		
 		)
 	</insert>
 	<update id="updateRealestate" parameterType="map">
 		
 		UPDATE 
 			`real_estate`
 		SET 
 			`type` = #{type}
 			,`price` = #{price}
 			,`updatedAt` = now() 
 		WHERE
 			`id` = #{id}
 		
 		
 	</update>
 	
 	<delete id="deleteRealestate" parameterType="int">
 	
 		DELETE FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	
 	</delete>
 
 </mapper>